//variables.scss
$blue: #445A73;
$yellow: #E3C569;
$red: #904547;
$blue-shadow: 5px 7px #324253;
$yellow-shadow: 5px 7px #837542;
$red-shadow: 5px 7px #4f2627;
$fahkwang: fahkwang, sans-serif;
$fascinate: 'Fascinate', sans-serif;
$header-lining: -2px 0 black, 0 2px black, 3px 0 black, 0 -2px black;
$content-lining: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

.startup-logo--h1{
  color: $yellow;
  text-shadow: none;
  font-size: xx-large;
  animation: startup-logo 2s;
}
.login--header {
  animation: fade-in 1s;
  .setlist, .manager {
    color: $yellow;
    text-shadow: $header-lining, $red-shadow;
    font-size: xxx-large;
  }
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  animation: fade-in 1s;
  .login__h2 {
    color: $blue;
    font-size: xx-large;
    text-shadow: $content-lining;
    box-shadow: $yellow-shadow;
    margin-left: 10%;
    margin-bottom: 3%;
    display: inline-block;
    padding: 5px;
    border: $blue solid 5px;
    border-radius: 5px;
  }
}
.loginForm {
  font-family: $fascinate;
  font-size: x-large;
  color: $blue;
  text-shadow: $content-lining;
  box-shadow: $yellow-shadow;
  border: $blue solid 5px;
  border-radius: 7px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  width: 70%;
  max-width: 700px;
  .login-error-message{
    font-family: $fahkwang;
    font-size: medium;
    text-shadow: none;
    color: black;
  }
  .loginForm__button {
    font-family: $fascinate;
    text-shadow: $content-lining;
    color: $yellow;
    background-color: $red;
    border: solid;
    border-radius: 7px;
    align-self: flex-end;
    font-size: x-large;
    margin: 2%;
    width: 50%;
    max-width: 250px;
    &:hover {
      background-color: $yellow;
      color: $red;
      animation: hoverLogin 0.5s ease-in;
    }
  }
}
.login--footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  animation: fade-in 1s;
  .registerButton--start-register {
    font-family: $fascinate;
    color: $yellow;
    background-color: $red;
    outline: none;
    border: solid;
    border-radius: 7px;
    margin-right: 10%;
    font-size: xx-large;
    box-shadow: $blue-shadow;
    &:hover {
      background-color: $yellow;
      color: $red;
      animation: hoverLogin 0.5s ease-in;
    }
  }
}

