//variables.scss
$blue: #445A73;
$yellow: #E3C569;
$red: #904547;
$blue-shadow: 5px 7px #324253;
$yellow-shadow: 5px 7px #837542;
$red-shadow: 5px 7px #4f2627;
$fahkwang: fahkwang, sans-serif;
$fascinate: 'Fascinate', sans-serif;
$header-lining: -2px 0 black, 0 2px black, 3px 0 black, 0 -2px black;
$content-lining: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

.setlist, .manager{
  color: $yellow;
  text-shadow: $header-lining, $red-shadow;
  font-size: xxx-large;
}
.registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  .register-form__h2 {
    color: $blue;
    font-size: x-large;
    text-shadow: $content-lining;
    box-shadow: $yellow-shadow;
    margin: 2% 10% 3%;
    display: inline-block;
    padding: 5px;
    border: $blue solid 5px;
    border-radius: 5px;
  }
}
.register-form {
  font-family: $fascinate;
  font-size: x-large;
  color: $blue;
  text-shadow: $content-lining;
  box-shadow: $yellow-shadow;
  border: $blue solid 5px;
  border-radius: 7px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  margin: 0 0 2% 10%;
  width: 70%;
  max-width: 700px;
  .register-form--requirement{
    font-family: $fahkwang;
    font-size:small;
    color: black;
    text-shadow: none;
  }
  .register-form--button, .register-form--button__disabled{
    font-family: $fascinate;
    text-shadow: $content-lining;
    color: $yellow;
    background-color: $red;
    border: solid;
    border-radius: 7px;
    align-self: flex-end;
    font-size: x-large;
    margin: 2%;
    width: 50%;
    max-width: 250px;
    &:hover:not(.register-form--button__disabled) {
      background-color: $yellow;
      color: $blue
    }
  }
  .register-form--button__disabled{
    filter: blur(2px);
  }
}
.registerButton--cancel-register{
  font-family: $fascinate;
  color: $yellow;
  background-color: $red;
  outline: none;
  border: solid;
  border-radius: 7px;
  font-size: xx-large;
  box-shadow: $blue-shadow;
  align-self: flex-end;
  margin: 3% 10% 10% 3%;
  &:hover {
    background-color: $yellow;
    color: $red;
    }
      }