
/* fascinate-regular - latin */
@font-face {
  font-family: 'Fascinate';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fascinate-v21-latin-regular.eot') /* IE9 Compat Modes */,
  local(''),
  url('../fonts/fascinate-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/fascinate-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/fascinate-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/fascinate-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/fascinate-v21-latin-regular.svg#Fascinate') format('svg'); /* Legacy iOS */
}