$blue: #445A73;
$yellow: #E3C569;
$red: #904547;
$blue-shadow: 5px 7px #324253;
$yellow-shadow: 5px 7px #837542;
$red-shadow: 5px 7px #4f2627;
$fahkwang: fahkwang, sans-serif;
$content-font: fahkwang, sans-serif;
$fascinate: 'Fascinate', sans-serif;
$header-lining: -2px 0 black, 0 2px black, 3px 0 black, 0 -2px black;
$content-lining: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


.setlist-creator{
  display: flex;
  height: 90%;
  width: 80%;
  background-color: white;
  border: black solid 2px;
  border-radius: 7px;
  box-shadow: $blue-shadow;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  .setlist-creator--header{
    display: flex;
    text-shadow: none;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: gray solid 2px;
    .setlist-creator--title-input{
      font-family: $fascinate;
      border: none;
      border-radius: 7px;
      width:100%;
      font-size: 140%;
      &:focus{
        border: none;
        outline: none;
      }
    }
    .setlist-creator--close{
      background: white;
      font-size: 130%;
      border: none;
    }
  }
  .setlist-creator--main {
    width: 100%;
    height: 85%;
    border-bottom: gray solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .setlist-creator--form {
      width: 100%;
      margin-top: 2%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .setlist-creator--search-result-div {
        width: 80%;
        .setlist-creator--div {
          display: flex;
          flex-direction: row;
        }

        .setlist-creator--add-button {
          background-color: black;
          color: white;
          max-height: 100%;
          width: 20%;
        }
        .setlist-creator--search-input {;
          border-radius: 0px;
          width: 100%;
          &:focus {
            background-color: black;
            color: white;
            outline: none;
          }
        }
      }

      .setlist-creator--ul {
        list-style: none;
        font-family: "Times New Roman", sans-serif;
        color: #ffffff;
        text-shadow: none;
        padding: 0px;
        max-width: inherit;

        .setlist-creator--li {
          border: 1px solid black;
          background-color: #565656;
          display: flex;
          flex-direction: row;
          margin: 1px;
          max-width: 97%;
          &:hover{
            background-color: black;
            cursor: pointer;
          }

          .setlist-creator--img {
            max-height: 25px;
            width: auto;
            padding: 5px;
          }

          .setlist-creator--result-track {
            font-size: 100%;
          }

          .setlist-creator--result-artist {
            font-size: 70%;
            color: #d4d4d4
          }
        }
      }
    }


      .setlist-creator--clear-setlist {
        background: $yellow;
        border: $red solid 2px;
        color: black;
        font-family: $fahkwang;
        border-radius: 7px;
        width: 40%;
        align-self: flex-end;
        margin-top: 15px;
        &:hover {
          background-color: $red;
          color: white;
          border: black solid 2px;
        }
      }
        .setlist-creator--clear-setlist__disabled {
          background: $yellow;
          border: $red solid 2px;
          color: black;
          font-family: $fahkwang;
          border-radius: 7px;
          filter: blur(1px);
          width: 40%;
          align-self: flex-end;
          margin-top: 15px;
        }

  }
.setlist-creator--right-column{
  width: 100%;
  display: flex;
  flex-direction: column;
}
  .setlist-creator--ol {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    .setlist-creator--invalid-entry {
      color: red;
    }
    .setlist-creator--li {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .setlist-creator--button-div {
        display: flex;
        flex-direction: row;

      .setlist-creator--delete-button {
        max-height: 25px;
        background: white;
        font-size: 130%;
        border: none;
      }
    }
      .setlist-creator--play-pause-button{
        background-color: white;
        border: none;
        padding: 0px;
        margin: 0px;
        img{
          max-height: 25px;
        }
      }
    }
  }
}
.setlist-creator--footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .setlist-creator--finish-button{
    color: white;
    background-color: black;
    margin-top: 2%;
    font-family: $fascinate;
    font-size: 180%;
    text-shadow: $content-lining;
    display: inline-block;
    padding: 5px;
    border: black solid 5px;
    border-radius: 7px;
    &:hover{
      color: black;
      background-color: white;
    }
  }
  .setlist-creator--finish-button__disabled {
    color: white;
    background-color: black;
    margin-top: 2%;
    font-family: $fascinate;
    font-size: 180%;
    text-shadow: $content-lining;
    display: inline-block;
    padding: 5px;
    border: black solid 5px;
    border-radius: 7px;
    filter: blur(2px);
  }
}