$blue: #445A73;
$yellow: #E3C569;
$red: #904547;
$blue-shadow: 5px 7px #324253;
$yellow-shadow: 5px 7px #837542;
$red-shadow: 5px 7px #4f2627;
$content-font: fahkwang, sans-serif;
$black-lining: -2px 0 black, 0 2px black, 3px 0 black, 0 -2px black;